/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: white !important;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: black;
}

section:nth-of-type(1) {
    width: 100%;
    height: 600px;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section:nth-of-type(1) p{
        padding: 20px;
        background-color: rgba(30, 0, 0, 0.95);
        border-radius: 2px;
        margin: 0 auto;
}

article {
    padding: 20px 20px 0 20px;
    margin-bottom: 50px;
    background-color: rgba(0,0,0,0.95);
    border-radius: 2px;
    border-bottom: 4px solid rgb(224, 20, 76);
}

main {
    background-image: url(../img/bgFood.jpg);
    /*<a href="https://www.freepik.com/free-vector/linear-flat-fast-food-icons-seamless-pattern_3330537.htm#page=2&query=fast%20food%20pattern&position=10&from_view=keyword">Image by vextok</a> on Freepik*/
}

h1, h2, h3, h4, p{
    color: white;
}

h3 {
    padding: 12px;
    background-color: rgba(224, 20, 76, 0.75);
}

#title {
    align-items: center;
    padding: 10px 15px 10px 15px;
    margin-top: 100px;
    background-color: rgb(0,0,0);
    border-radius: 2px;
    margin-bottom: 50px;
}


section:nth-of-type(2) p {
    margin-top: 0;  
}
 
nav.navbar {
    background-color: black;
}

section:nth-of-type(1) p{
    margin-top: 250px;
}


aside {
    padding: 50px;
    text-align: center;
}

#acciones{
    background-color: black;
    padding: 20px;
    margin-bottom: 0;
}

.navbar-nav {
    margin-left: 100% !important;
}

article figure img {
    min-height: 100%;
    object-fit: cover;
}

/* ---------- */



.get-in-touch {
    max-width: 800px;
    max-height: 800px;
    margin: 150px 30px auto 30px;
    position: relative;
    background-color: white;
    padding: 40px;
    border: 4px solid black;
}

.get-in-touch .title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 3.2em;
        line-height: 48px;
        padding-bottom: 48px;
        color: #5543ca;
        background: #5543ca;
        background: -moz-linear-gradient(left,#f4524d 0%,#5543ca 100%) !important;
        background: -webkit-linear-gradient(left,#f4524d 0%,#5543ca 100%) !important;
        background: linear-gradient(to right,#f4524d 0%,#5543ca 100%) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus {
      outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
            -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

